<nav class="site-nav">
    <div class="site-title">
        <a href="{{ get_url(path='/') }}">Kyle Parker Cunningham</a>
    </div>
    <ul class="nav-list">
        <li><a href="{{ get_url(path='/') }}">home</a></li>
        <li><a href="{{ get_url(path='/oeuvre/painting/') }}">painting</a></li>
        <li><a href="{{ get_url(path='/oeuvre/printmaking/') }}">printmaking</a></li>
        <li><a href="{{ get_url(path='/cinema/') }}">cinema</a></li>
        <li><a href="{{ get_url(path='/about/') }}">about</a></li>
    </ul>
</nav>
