{% set alt_text = alt | default(value="") %}
{% set img_sm = resize_image(path=path, width=480, op="fit_width") %}
{% set img_md = resize_image(path=path, width=960, op="fit_width") %}
{% set img_lg = resize_image(path=path, width=1600, op="fit_width") %}

<figure class="art-image">
  <img
    src="{{ img_md.url }}"
    srcset="{{ img_sm.url }} 480w, {{ img_md.url }} 960w, {{ img_lg.url }} 1600w"
    sizes="(max-width: 640px) 100vw, (max-width: 1200px) 80vw, 900px"
    alt="{{ alt_text }}"
    loading="lazy"
    decoding="async"
  >
  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
</figure>
